<form [formGroup]="form" novalidate (ngSubmit)="submit()">
  <h1 mat-dialog-title>Upload Document</h1>
  <div mat-dialog-content class="dialog-content">
    <div fxLayout="row" fxLayoutGap="15px">
      <mat-form-field color="accent" fxFlex="50">
        <input matInput placeholder="Name" formControlName="name" data-id="input-new-item-name">
        <mat-error *ngIf="form.hasError('required', 'name')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <input style="color:brown;" fxFlex="50" type="file" class="form-control" (change)="handleFileInput($event)" accept=".pdf,.doc, .docx"name="file">
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="w-100" fxLayoutAlign="end">
      <button mat-raised-button color="primary" type="submit" [disabled]="this.form.invalid" data-id="btn-new-item-submit" >
        Submit
      </button>
    </div>
  </div>
</form>
